// ALINHAMENTO NA PÁGINA - NÃO NECESSÁRIO PARA O FUNCIONAMENTO DA BARRA DE PROGRESSO
main{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// PROGRESS BAR
$primary-color:rgba(0, 128, 0, 1);
$secondary-color:rgba(0, 128, 0, .7);
$terceary-color:rgba(0, 128, 0, 0);
$button-color:rgb(10, 178, 10);

$bar-width: 200px;
$bar-heigth: 5px;

$complete-bar-width: 50px;

.progressbar{
  position: relative;
  width: $bar-width;
  height: $bar-heigth;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.progressbar-loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $bar-heigth;
  background: linear-gradient(to right, $terceary-color, $secondary-color, $primary-color);
  animation: progressAnim 1.5s infinite ease;
}

.complete-progress{
  background-color: $primary-color;
  width: $complete-bar-width;
  min-height: $bar-heigth;
  border-right: 4px solid white;
  z-index: 2;
}

a{margin-top: 24px; text-decoration: none;padding: 8px 16px;
 border: 1px solid $button-color; transition: .7s ease;&:hover{background-color: $button-color;}}

@keyframes progressAnim{
  0%{background-position-x: -200px;}
  100%{background-position-x: 100%;}
}