* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700 !important;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
  min-width: 100vw;
  min-height: 25vh;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  margin: 0;
  font-size: 4rem;
  color: white;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

main .menu {
  margin-top: 10px;
  width: 100%;
  max-width: 1024px;
}

main .menu ul {
  width: 100%;
  padding: 8px 12px;
  list-style: none;
}

main .menu ul li {
  width: 100%;
}

main .menu ul li a {
  margin: 0;
  padding: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  font-size: 1.2rem;
}

main .menu ul li a img {
  width: 24px;
  height: 24px;
}

main .menu ul li a:hover {
  background-color: #222;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

main h1 {
  font-size: 3rem;
  margin: 54px 0 24px;
}

main h2 {
  margin: 14px 0 24px;
  opacity: 0.8;
}

main div {
  margin-bottom: 24px;
}

section {
  border-bottom: 1px solid gray;
}

input {
  color: black;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  opacity: .9;
  color: white;
  text-align: center;
  margin: 4px;
}

a:hover {
  opacity: 1;
}

p {
  margin-bottom: 8px;
  color: #d8c40d;
}

.buttons {
  padding: 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons div .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
}

.buttons div .button a {
  margin-bottom: 12px;
  width: 100%;
}

.progressbars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}
/*# sourceMappingURL=style.css.map */