.input-text-dark-1{
  border-radius: 6px;
  padding: 10px 12px; 
  width: 80%;   
  background-color: transparent;
  border-style: none;
  transition: .3s;
  border-bottom: 2px solid #474747;
  color: white!important;

  &::placeholder{color: rgba(255, 255, 255, 0.5);}
  &:focus{
    border-bottom: 2px solid #2F80ED;
    background-color: #111;
    &::placeholder{color: rgba(255, 255, 255, 0.6);}
  }
}