.slide-lr-rounded {
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #2F80ED;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);;
      z-index: -1;
      transform: rotate(180deg);
      transition: .7s ease; // TEMPO DE TRANSIÇÃO
  }
  &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);;
      z-index: -1;
      transition: .7s ease; // TEMPO DE TRANSIÇÃO
  }
  &:hover {
      color: white;
      &::before{
          width: 51%;
          animation: roundedButtonLeft .7s ease;
      }
      &::after{
          width: 51%;
          animation: roundedButtonLeft .7s ease;
      }
  }
}

@keyframes roundedButtonLeft{
  0%{border-radius: 0 20px 20px 0;}
  50%{border-radius: 0 20px 20px 0;}
  100%{border-radius: 0;}
}