.slide-right {
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #2F80ED;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 100%;
      background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
      z-index: -1;
      transition: .7s ease; // TEMPO DE TRANSIÇÃO
  }
  &:hover {
      color: white;
      &::before {
          width: 100%;
      }
  }
}