.slide-lr-rounded {
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #2F80ED;
}

.slide-lr-rounded::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
  z-index: -1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.slide-lr-rounded::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
  z-index: -1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.slide-lr-rounded:hover {
  color: white;
}

.slide-lr-rounded:hover::before {
  width: 51%;
  -webkit-animation: roundedButtonLeft .7s ease;
          animation: roundedButtonLeft .7s ease;
}

.slide-lr-rounded:hover::after {
  width: 51%;
  -webkit-animation: roundedButtonLeft .7s ease;
          animation: roundedButtonLeft .7s ease;
}

@-webkit-keyframes roundedButtonLeft {
  0% {
    border-radius: 0 20px 20px 0;
  }
  50% {
    border-radius: 0 20px 20px 0;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes roundedButtonLeft {
  0% {
    border-radius: 0 20px 20px 0;
  }
  50% {
    border-radius: 0 20px 20px 0;
  }
  100% {
    border-radius: 0;
  }
}