.slide-left {
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #2F80ED;
}

.slide-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
  z-index: -1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.slide-left:hover {
  color: white;
}

.slide-left:hover::before {
  width: 100%;
}