@keyframes progressAnim{
  0%{background-position-x: -$bar-width;}
  100%{background-position-x: 100%;}
}

@keyframes progressLoading{
  0%{width: 0%;}
  40%{width: 40%;}
  60%{width: 50%;}
  100%{width: 100%;}
}

@keyframes shakeButtonX{
  0%{transform: translateX(2px);}
  25%{transform: translateX(0px);}
  50%{transform: translateX(-2px);}
  75%{transform: translateX(0px);}
  100%{transform: translateX(2px);}
} 

@keyframes button3d{
  0%{border-radius: 0 100% 0;}
  100%{border-radius: 0;}
}

@keyframes roundedButtonLeft{
  0%{border-radius: 0 20px 20px 0;}
  50%{border-radius: 0 20px 20px 0;}
  100%{border-radius: 0;}
}

@keyframes roundedButtonRight{
  0%{border-radius: 20px 0 0 20px ;}
  50%{border-radius: 20px 0 0 20px;}
  100%{border-radius: 0;}
}

@keyframes roundedButtonTop{
  0%{border-radius: 40px 40px 0 0;}
  100%{border-radius: 0;}
}

@keyframes roundedButtonBottom{
  0%{border-radius: 0 0 40px 40px;}
  100%{border-radius: 0;}
}

@keyframes shakeButtonY{
  0%{transform: translateY(2px);}
  25%{transform: translateY(0px);}
  50%{transform: translateY(-2px);}
  75%{transform: translateY(0px);}
  100%{transform: translateY(2px);}
} 

@keyframes shakeRotateRightButton{
  0%{transform: rotate(2deg);}
  25%{transform: rotate(0deg);}
  50%{transform: rotate(-2deg);}
  75%{transform: rotate(0deg);}
  100%{transform: rotate(2deg);}
} 

@keyframes shakeRotateLeftButton{
  0%{transform: rotate(-2deg);}
  25%{transform: rotate(0deg);}
  50%{transform: rotate(2deg);}
  75%{transform: rotate(0deg);}
  100%{transform: rotate(-2deg);}
} 