.input-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  
}

.input-text-1{
  border-radius: 6px;
  padding: 8px 10px; 
  width: 80%;   
  background-color: #f8f8f8;
  
  &:focus{border: 2px solid $button-color}
}

.input-text-2{
  border-radius: 6px;
  padding: 8px 10px; 
  width: 80%;   
  background-color: transparent;
  border-style: none;
  transition: .3s;
  border-bottom: 2px solid #474747;
  color: white!important;

  &::placeholder{color: rgba(255, 255, 255, 0.5);}
  &:focus{
    border-bottom: 2px solid $button-color;
    &::placeholder{color: rgba(255, 255, 255, 0.6);}
  }
}

.input-text-3{
  border-radius: 6px;
  padding: 8px 10px; 
  width: 80%;   
  background-color: transparent;
  border-style: none;
  transition: .3s;
  border-bottom: 2px solid #474747;
  color: white!important;

  &::placeholder{color: rgba(255, 255, 255, 0.5);}
  &:focus{
    border-bottom: 2px solid $button-color;
    &::placeholder{color: rgba(255, 255, 255, 0.6);}
  }
}